@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
	--font-display: 'Montserrat', sans-serif;
	--font-primary: 'Montserrat Alternates', sans-serif;
	--color-primary: #0a1128ff;
	--color-secondary: #fefcfbff;
	--color-deep-navy: #001f54ff;
	--color-yale-blue: #034078ff;
	--color-cerulean: #1282a2ff;
}

html {
	scroll-behavior: smooth;
}

* {
	user-select: none !important;
}

/* ==========================================================
   SCROLLBAR: Light Mode
   ========================================================== */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
	width: 1px;
}

::-webkit-scrollbar-track {
	background-color: #ececec;
}

::-webkit-scrollbar-thumb {
	background-color: #283618;
	border-radius: 10px;
	transition: background-color 0.3s ease;
}

/* Hover effect (light mode only) */
::-webkit-scrollbar-thumb:hover {
	background-color: #606c38; /* hijau olive */
}

/* ==========================================================
   SCROLLBAR: Dark Mode
   ========================================================== */

html.dark ::-webkit-scrollbar-track {
	background-color: #283618;
}

html.dark ::-webkit-scrollbar-thumb {
	background-color: #ececec;
	border-radius: 10px;
	transition: background-color 0.3s ease;
}

/* Hover effect (dark mode only) */
html.dark ::-webkit-scrollbar-thumb:hover {
	background-color: #fefae0;
}

/* ==========================================================
   SCROLLBAR: HIDDEN
   ========================================================== */

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
}
